*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* colors */
    --white-01: #fff;
    --white-02: #f5f5f5;
    --white-bg-01: #e5e5e5;
    --green-01: #68d66f;

    /* -- fonts */
    --serif: serif;
    --mono: monospace;
    --sans: sans-serif;

    /* -- heights & widths */
    --header-height: 92px;
    --site-width: 700px;
}

html {
    display: block;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: sans-serif; 
}

body {
    display: block;
    position: relative;
    background: var(--white-bg);
}

/* -- header -- */
.header-wrapper {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: var(--header-height);
    background: var(--white-01);
    border-bottom: 1px solid gray;
}

.header {
    display: block;
    margin: 0 auto;
    width: var(--site-width);
    background: var(--white-01);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .25rem;
}

.nav__right-nav {
    display: flex;
    align-items: baseline;

}

.nav__center-nav {
    width: 300px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .nav__center-nav {
        display: none;
    }
}

.nav__left-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
}

.nav-item__media-area {
    display: block;
    margin-bottom: .25rem;
}

/* --site-main */
.main-area-wrapper {
    display: block;
    padding-top: var(--header-height);
}

.main {
    display: block;
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 2rem;
}

/* --card */
.card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
}

.card__media-area {
    display: block;
    margin-bottom: .75rem;
}

.card__info-area {
    display: block;
    margin-bottom: 1.25rem;
    text-align: center;
}

.card-info {
    font-size: .75rem;
}

.card-header {
    text-align: center;
    color: var(--green-01);
    font-size: 2.75rem;
    margin-bottom: .5rem;
}

.card-header-lg {
    font-size: 3rem;
}

.card-header--md {
    font-size: 1.5rem;
}

.card-header--sm {
    font-size: .75rem;
}

.card__action-area {
    display: block;
    margin: .5rem;
}

.card-btn {
    background: var(--green-01);
    width: 150px;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--green-01);
    border-radius: 30px 130px 30px;
    padding: 8px;
    transition: 0.3s;
}

.card-btn:hover {
    background: #000;
    color: var(--white-01);
}

/* --about-section */
.about-section {
    display: block;
    text-align: center;
}

.feed__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* --gallery-section */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* --contact-section */
.contact-section {
    display: block;
}

/* gallery-section */
.gallery-section{
    display: block;
    width: 100%;
}

/* --order-section */

/* --footer */
footer{
    display: block;
    width:100%;
    padding:1rem 0 0 20px;
    background: #eeeeee;
}
